@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.text {
    font-size: 1.6rem;

    &--hero {
        color: v.$blanco;

        @include m.tablet { 
            font-size: 2.6rem;
            margin: 1rem 0;
        }

        @include m.desktop {
            margin: 2rem 0;
        }

    }
}