@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.title {
  font-size: 2.5rem;
  color: v.$primario;
  margin: 0;

    @include m.tablet { 
        font-size: 4rem;
    }

  &--color-azul {
    color: v.$secundario;
  }

  &--hero {
    color: v.$blanco;
    font-size: 3rem;

    @include m.tablet {
      font-size: 5.2rem;
    }
  }
  &--producto {
    font-size: 3rem;
    margin: 3rem 0 2rem;
  }
}
