@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.search {    
    position: relative;
    
    &__entrada {
        border-radius: 2rem;
        padding: 1rem 2rem;
        background-color: v.$grisClaro;
        border: none;
        outline: none;
        display: none;
        
        @include m.tablet { 
            width: 21rem;
            display: block;
        }

        @include m.desktop { 
            width: 41rem;
        }

        &--login {
            @include m.telefono { 
                width: 25rem;
                display: block;
            }

            @include m.tablet { 
                width: 35rem;
            }
        }
    }

    &__icono {
        width: 2.5rem;
        
        @include m.telefono { 
            position: absolute;
            top: .8rem;
            right: .6rem;
        }
        @include m.desktop { 
            width: 3.5rem;
            top: .2rem;
            right: 2rem;
        }

        &--login {
            @include m.tablet { 
                width: 3.5rem;
                top: .2rem;
                right: 2rem;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
    
           
}