<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Geeks</title>
    <link rel="stylesheet" href="../build/css/app.css">
</head>
<body>
    
    <!-- Atomos -->
        <div class="atomo contenedor">
            <div class="barra">
                <h1 class="title"><span class="title--color-azul">Alura</span>Geek</h1>
                <img class="responsive-image" loading="lazy" src="../src/img/logo.svg" width="500" height="300" alt="">
            </div>

            <h1 class="title title--hero">Febrero Promocional</h1>
            
            <div>
                <button class="button button--primary">Button 1</button>
                <button class="button button--secundary">Button 2</button>
            </div>

            <div class="search">
                <input class="search__entrada" type="search" placeholder="¿Qué deseas buscar?">
                <img class="search__icono" src="../src/img/search-icon.svg" alt="icono">
            </div>
        </div>
    <!-- moleculas -->

    <div class="moleculas">
        <div class="">

        </div>
    </div>

    <!-- Organismos -->

    <!-- template -->


</body>
</html>